*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: sans-serif;
    scroll-behavior: smooth;
    color: inherit;
}

section{
    height: 100vh;
    width: 100vw;
    display: grid;
    align-content: space-around;
    justify-content: space-evenly;
    justify-items: center;
    position: relative;
}

section>h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    padding-top: 10px;
    letter-spacing: 0.1rem;
    color: #323232;
    text-shadow: 0px 0px 5px #323232;
}

section>h1>span{
    color: rgba(0,0,0,0.5);
}

.game{
    height: 65vh;
    width: 35vw;
    background-color: #323232;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3,33%);
    grid-template-rows: repeat(3,33%);
    align-content: space-around;
    justify-content: space-evenly;
}

.cell{
    border: 2px solid white;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell:hover{
    background-color: #eeeeee;
    cursor: pointer;
}

.game,:nth-child(1),:nth-child(2),:nth-child(3){
    border-top: none;
    border-bottom: none;
}

.game,:nth-child(1),:nth-child(4),:nth-child(7){
    border-left: none;
    border-right: none;
}

.game,:nth-child(3),:nth-child(6),:nth-child(9){
    border-right: none;
    border-left: none;
}

.game,:nth-child(7),:nth-child(8),:nth-child(9){
    border-bottom: none;
    border-top: none;
}

section>button{
    height: 10vh;
    width: 20vw;
    background-color: #323232;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
    color: #eeeeee;
    border: none;
}

section>button:hover{
    background-color: #eeeeee;
    color: #323232;
}

.x,.o{
    font-weight: bold;
    font-size: 9rem;
    color: white;
    padding-bottom: 20px;
}

.cell:hover.x{
    color: #323232;
}

.cell:hover.o{
    color: #323232;
}

.score-board{
    position: absolute;
    height: 80vh;
    width: 25vw;
    top: 10%;
    left: 1%;
    display: grid;
    align-content: space-around;
    justify-content: space-evenly;
    background-color: #323232;
}

.score-board>h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    padding-top: 10px;
    letter-spacing: 0.1rem;
    color: #eeeeee;
    text-shadow: 0px 0px 5px #323232;
}

.score-board>h2{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 10px;
    letter-spacing: 0.1rem;
    color: #eeeeee;
}

.score-board>h2>span{
    color: rgba(230, 213, 213, 0.5);
    text-shadow: 0px 0px 5px #323232;
}